:root {
  --md-primary-fg-color: #000000;
  --md-accent-fg-color: #C00A35;
}

.md-header {
  border-top: 4px solid #FFCD00;
}

/* Red links */
a {
  color: #C00A35;
}

a:hover {
  color: #900828;
}

/* Navigation and content links */
.md-content a,
.md-nav a {
  color: #C00A35;
}

.md-content a:hover,
.md-nav a:hover {
  color: #900828;
}
